.attribution {
    font-style: normal;
}

.quote {
    border: 1pt solid #000;
    border-left: none;
    border-right: none;
    background-color: #fff;
    color: #000;
    font-family: Roboto, sans-serif;
    margin: 1rem 0;
    padding: 1rem;

    &.theme-day {
        background-color: #f0f7ff;
        border-color: #226;
        border-left: none;
        border-right: none;
        color: #226;
    }

    &.theme-hell {
        font-family: monospace;
    }

    > blockquote {
        margin: 0 auto;
        max-width: 1024px;

        > p {
            font-size: larger;
            text-align: center;

            &::after {
                content: "”";
                font-size: larger;
            }

            &::before {
                content: "“";
                font-size: larger;
            }
        }

        > footer {
            font-weight: 200;
            text-align: right;

            &::before {
                content: "— ";
            }
        }
    }
}
