.comixified {
    display: none;
    @media print, screen {
        display: initial;
        font-family: Paleocene;
        letter-spacing: 0.25pt;
        text-transform: unset;
        &.theme-day,
        [lang="ko"] &,
        &[lang="ko"] {
            display: none;
        }
    }
}
.emphatic {
    font-style: italic;
}
.regular {
    @media print, screen {
        display: none;
        &.theme-day,
        [lang="ko"] &,
        &[lang="ko"] {
            display: initial;
            font-family: AtlandBB;
        }
    }
    [lang="ko"] &,
    &[lang="ko"] {
        font-family: Euljiro-Che;
    }
}
