.comics {
    display: none;
    @media print, screen {
        display: initial;
        font-family: Paleocene;
        letter-spacing: 0.25pt;
        text-transform: unset;
    }
}
.italic {
    font-style: italic;
}
.regular {
    @media print, screen {
        display: none;
    }
}
