.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
    width: fit-content;
}

//.image {}

.caption {
    display: block;
    text-align: center;
}

.heading {
    display: inline;
    font-weight: normal;
    margin: 0;
}
