@use "src/styles/mixins.scss";
.form {
    margin: 2rem auto;
    max-width: min(1024px, calc(100vw - 2rem));
    width: 100%;
    text-align: center;
    input[type=email] {
        background-color: #fff;
        border-radius: 1rem;
        border: 2px solid #600;
        color: #600;
        margin: 0.25rem;
        max-width: 25rem;
        padding: 0.5rem;
        width: 100%;
        &::placeholder {
            color: rgba(102, 0, 0, 0.5)
        }
        &:focus-visible {
            border-color: #b00;
            color: #b00;
            outline: none;
        }
    }
    input[type=submit] {
        @include mixins.brown;
        border-radius: 2rem;
        border: none;
        display: block;
        font-weight: bold;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        width: fit-content;
        &:active, &:hover {
            background-color: #b00;
            color: #fff;
            box-shadow: inset 0 0 0.5rem #800;
        }
    }
}
