@use "src/styles/mixins";

.cell {
    border-radius: 2rem;
    max-width: min(100%, 560px);
    overflow: hidden;
    max-height: 280px;
    position: relative;
    text-align: center;

    &.theme-bw,
    &.theme-webcomic {
        align-items: flex-end;
        border-radius: unset;
        display: flex;
    }

    &.theme-webcomic {
        border: none;
        max-width: 170px;
    }

    &.theme-bw {
        border: 2.5pt solid #000;
    }

    &.theme-kc {
        border-radius: unset;
        @include mixins.brown;
    }

    &.theme-night {
        @include mixins.purple;
    }

    &.theme-hell {
        border-radius: unset;
        @include mixins.styx;
    }
}

.image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 280px;
}