@use "src/styles/mixins";
.cell {
    border-radius: 2rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 10rem;
    padding: .25in;
    text-align: center;
    &.theme-bw {
        background-color: #fff;
        border: 2.5pt solid #000;
        border-radius: unset;
    }
    &.theme-day {
        @include mixins.paynes;
    }
    &.theme-kc {
        @include mixins.cream;
    }
    &.theme-night {
        @include mixins.green;
    }
}
