@font-face {
    font-display: block;
    font-family: Paleocene;
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/paleocene-regular-webfont.woff2) format('woff2'),
        url(/fonts/paleocene-regular-webfont.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-display: block;
    font-family: Paleocene;
    font-style: italic;
    font-weight: normal;
    src: url(/fonts/paleocene-italic-webfont.woff2) format('woff2'),
        url(/fonts/paleocene-italic-webfont.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-display: block;
    font-family: AtlandBB;
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/AtlandBB.eot);
    src: url(/fonts/AtlandBB.eot?#iefix) format('embedded-opentype'),
         url(/fonts/AtlandBB.woff) format('woff'),
         url(/fonts/AtlandBB.ttf) format('truetype'),
         url(/fonts/AtlandBB.svg#AtlandBB) format('svg');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-display: block;
    font-family: AtlandBB;
    font-style: italic;
    font-weight: normal;
    src: url(/fonts/AtlandBB-Italic.eot);
    src: url(/fonts/AtlandBB-Italic.eot?#iefix) format('embedded-opentype'),
         url(/fonts/AtlandBB-Italic.woff) format('woff'),
         url(/fonts/AtlandBB-Italic.ttf) format('truetype'),
         url(/fonts/AtlandBB-Italic.svg#AtlandBB) format('svg');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-display: block;
    font-family: AtlandBB;
    font-style: italic;
    font-weight: bold;
    src: url(/fonts/AtlandBB-BoldItalic.eot);
    src: url(/fonts/AtlandBB-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(/fonts/AtlandBB-BoldItalic.woff) format('woff'),
         url(/fonts/AtlandBB-BoldItalic.ttf) format('truetype'),
         url(/fonts/AtlandBB-BoldItalic.svg#AtlandBB) format('svg');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-display: swap;
    font-family: Euljiro-Che;
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/bmeuljiro.otf) format('opentype'),
        url(/fonts/bmeuljiro.ttf) format('truetype');
}
* {
    box-sizing: border-box;
    &[role=button] {
        cursor: pointer;
    }
}
a, abbr {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.25s;
    &:hover {
        opacity: 0.67;
    }
}
address {
    font-style: normal;
}
body,
html {
    background-color: #000;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}
main {
    background-color: #fff;
    color: #000;
}
hr {
    border: 2.5pt solid;
    border-bottom: none; 
    border-left: none; 
    border-right: none; 
}
img.intrinsic {
    height: auto;
    max-width: 100%;
}
.print, .screen, .speech {
    display: none;
}
@media print {
    .print {
        display: initial;
    }
}
@media screen {
    .screen {
        display: initial;
    }
}
@media speech {
    .speech {
        display: initial;
    }
}
