// @use "src/styles/mixins.scss";
.desc {
    margin-bottom: 1em;
}
.image {
    position: relative;
}
.promo {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: stretch;
    margin: 1rem auto;
    max-width: 640px;
    padding: 20px;
    text-align: center;
}