@use "src/styles/mixins.scss";

.cta {
    @include mixins.black;
    border-radius: 2rem;
    display: block;
    font-size: larger;
    padding: 1.25rem;
    margin: 0 auto;
    text-align: center;
    width: fit-content;

    &.theme-day {
        background-color: #fff1e6;
        border: 2.5pt solid #f79552;
        color: #000;
    }

    &.theme-kc {
        @include mixins.brown;
    }

    &.theme-night {
        background-color: #ff0;
        color: #000;
    }

    &.theme-hell {
        text-transform: uppercase;
        @include mixins.rage;
    }
}