.main {
  position: relative;
  display: block;
}
.count {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  min-width: 22px;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: -12px;
  right: -12px;
}
