@use "src/styles/mixins.scss";
@use "./nav.scss";
.footer {
    @include mixins.black;
    &.theme-day {
        @include mixins.paynes;
        border: 2pt solid #000;
    }
    &.theme-kc  {
        @include mixins.brown;
    }
    &.theme-night {
        @include mixins.purple;
        border: 2pt solid #000;
    }
}
.nav {
    @include mixins.page;
    @include nav.row;
    height: 0.5in;
    justify-content: space-between;
    padding: 0.5rem;
}
.promos {
    @include nav.row;
    align-items: flex-start;
}