.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  min-width: 320px;
}
.empty {
  font-size: larger;
  text-align: center;
}
.removeAll {
  color: red;
  margin-top: 0.33rem;
  padding-right: 1rem;
  text-align: right;
  text-decoration: underline;
}
