@use "src/styles/mixins";
.main {
  @include mixins.contained;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.empty {
  font-size: larger;
  text-align: center;
}
.removeAll {
  color: red;
  margin-top: 0.33rem;
  padding-right: 1rem;
  text-align: right;
  text-decoration: underline;
}
