@use "src/styles/mixins";
.main {
    @include mixins.contained;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
.empty {
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.removeAll {
    color: red;
    margin-top: 0.33rem;
    padding-right: 1rem;
    position: relative;
    text-align: right;
    text-decoration: underline;
    @media screen and (min-width: 512px) {
        margin-bottom: -1.33em;
    }
}
