.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;
    max-width: 1024px;
    width: 100%;
}
.image {
    img {
        height: auto;
        max-width: 100vw;
    }
}
.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(512px - 1rem);
    gap: 1rem;
}
