@font-face{
    font-family: Paleocene;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/paleocene-regular-webfont.woff2) format('woff2'),
        url(../assets/fonts/paleocene-regular-webfont.woff) format('woff');
}
@font-face{
    font-family: Paleocene;
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/paleocene-italic-webfont.woff2) format('woff2'),
        url(../assets/fonts/paleocene-italic-webfont.woff) format('woff');
}
.print, .screen, .speech {
    display: none;
}
html {
    background-color: black;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
    transition: opacity 0.25s;
}
a:hover {
    opacity: 0.67;
}
img {
    object-fit: scale-down;
}
main {
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Paleocene;
    font-size: 13pt;
    justify-content: center;
    letter-spacing: 0.07em;
    margin: 0 auto;
    max-width: 9.75in;
    min-height: 100vh;
    padding: 0.25in;
}
.cell {
    background-color: #5d7284;
}
img.cell {
    height: auto;
    max-height: 280px;
    max-width: calc(100vw - 0.5in);
    object-fit: cover;
}
header, section, footer {
    align-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0.25in;
    text-align: center;
}
header, section {
    flex-direction: column;
}
header {
    padding: 0.375in;
}
.text {
    background-color: #cfdd28;
    color: black;
    max-width: 10em;
}
.text-long {
    max-width: 20em;
}
.text a {
    color: black;
}
#publisher img {
    height: auto;
    max-width: 200px;
    width: calc(100vw - 0.5in);
}
#series {
    background-color: #573754;
    color: #ffffcc;
}
#series a {
    color: #ffffcc;
}
#series img {
    height: auto;
    max-width: 512px;
    width: calc(100vw - 0.75in);
}
form label {
    display: block;
}
input {
    border: 2px solid black;
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.125in;
}
input[type=email] {
    background-color: white;
    border-radius: 0.125in;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 16pt;
    max-width: 20em;
    width: calc(100vw - 1in);
}
input[type=email]:focus {
    outline: none;
}
input[type=submit] {
    background:white;
    border-radius: 0.125in; 
    color: black;
    cursor: pointer;
    font-family: Paleocene;
    font-size: 13pt;
    transition: background-color 0.25s;
}
input[type=submit]:hover {
    background-color: #ffffcc;
}
.issue > a {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: center;
}
.caption {
    background-color: #ffff00;
    border: 2px solid black;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.06125in;
}
.featured-link, .featured-link > a {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.featured-link > a {
    flex-direction: column;
    margin: 0.67em;
}
.featured-link img {
    height: auto;
    width: 240px;
}
#patreon > a {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
}
#patreon > a > span {
    margin-bottom: -1.25em;
    margin-right: 34px;
    margin-top: -1.25em;
    text-align: right;
}
#social > div {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}
footer {
    width: 100%;
}
footer img {
    margin-left: 1em;
}
footer, footer > a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer > a {
    align-items: baseline;
    font-style: normal;
}
@media screen {
    .screen {
        display: initial;
    }
}
@media print {
    .print {
        display: initial;
    }
}
@media speech {
    .speech {
        display: initial;
    }
}
#cell-lines > svg {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
}
