.container {
    overflow-x: hidden;
    position: sticky;
}
.banner {
    background-image: url("/banners/kickstarter/bg.png");
    background-repeat: repeat-x;
    background-size: 1px 100%;
    display: block;
    min-width: 540px;
    text-align: center;
}
