@font-face{
    font-family: Paleocene;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/paleocene-regular-webfont.woff2) format('woff2'),
        url(assets/fonts/paleocene-regular-webfont.woff) format('woff');
}
@font-face{
    font-family: Paleocene;
    font-style: italic;
    font-weight: 400;
    src: url(assets/fonts/paleocene-italic-webfont.woff2) format('woff2'),
        url(assets/fonts/paleocene-italic-webfont.woff) format('woff');
}
.print, .screen, .speech {
    display: none;
}
body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}
a {
    color: black;
    font-style: italic;
    transition: opacity 0.25s;
    text-decoration: none;
}
a:hover {
    opacity: 0.67;
}
main {
    align-items: center;
    align-content: center;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    font-family: Paleocene;
    font-size: 13pt;
    justify-content: center;
    letter-spacing: 0.07em;
    margin: 0 auto;
    max-width: 9.75in;
    min-height: 100vh;
    padding: 0.25in;
}
header, section {
    padding: 0.125in;
    text-align: center;
}
header > img {
    height: auto;
    max-width: 512px;
    width: calc(100vw - 0.5in);
}
section#about {
    max-width: 16em;
}
section.series > a {
    display: flex;
    flex-wrap: wrap;
}
section.series > a > img {
    height: auto;
    max-width: 440px;
    width: calc(100vw - 0.5in);
}
section.series > a > p {
    margin-right: 2em;
    max-width: 16em;
}
section#pleistocene > a {
    justify-content: flex-end;
}
.featured-links {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.featured-links img {
    height: auto;
    margin: 0 0.5em;
    width: 240px;
}
#patreon > a {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
}
#patreon > a > span {
    margin-bottom: -1.25em;
    margin-right: 44px;
}
footer {
    align-items: center;
    align-content: center;
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    width: 100%;   
}
footer, footer > a {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a {
    font-style: normal;
}
@media screen {
    body {
        background-color: #110000;
    }
    a {
        color: #ffffcc;
    }
    main {
        background-color: #330000;
        box-shadow: 0 0 .25in .125in black;
        color: #ffffcc;
    }
    footer {
        border-top: 2px solid #ffffcc;
    }
    .screen {
        display: initial;
    }
}
@media print {
    .print {
        display: initial;
    }
}
@media speech {
    .speech {
        display: initial;
    }
}
