@use "src/styles/mixins";
.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  input {
    @include mixins.input;
    font-size: inherit;
    text-align: right;
    width: 3em;
    @media screen and (max-width: 768px) {
      max-width: 6rem;
    }
  }
}
.header {
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  font-size: larger;
  h3 {
    font-size: inherit;
    margin-block-end: 0;
    margin-block-start: 0;
  }
}
.content {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: stretch;
  gap: 1rem;
}
.productLink {
  flex-grow: 1;
  text-decoration: underline;
}
.details {
  flex-grow: 1;
  @media screen and (max-width: 512px) {
    display: none;
  }
  p {
    margin-block-start: 0;
  }
}
.amount {
  text-align: right;
  width: 5rem;
}
.remove {
  align-self: flex-end;
  color: red;
  flex-grow: 1;
  text-align: right;
  text-decoration: underline;
}
